<section class="container post">
  
  <article>
    <button onclick="goTop()" id="go-top">
      <i class="fas fa-chevron-up"></i>
    </button> 
    <script>
    mybutton = document.getElementById("go-top");
    window.onscroll = function() {scrollFunction()};
    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }
    function goTop() {
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    } 
    </script>  

    <header>
      <h1 class="title">{{ .Title }}</h1>
      <h2 class="date">{{ .Date.Format "January 2, 2006" }}</h2>
    </header>

    {{ .Content }}
  </article>

  <br/>

  {{ if and (not (eq .Site.DisqusShortname "" )) (eq (.Params.disable_comments | default false) false)}}
      {{ template "_internal/disqus.html" . }}
  {{ end }}
  
</section>